body {
    background-color: #FFF;

    header {
        background-color: #EEE;
        background-image: url(../images/offset-image-test.jpg);
    }

    footer {
        background-color: #DDD;
    }
}